{% extends "layouts/base.html" %}

{% block content %}
<h1>About</h1>

<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nihil, dolorum iure ipsa voluptates fuga error ab animi consequuntur natus libero dolores provident repellat doloremque omnis? Aut accusamus amet aliquam.</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, voluptatum esse tempora minus ipsum nostrum ipsa et odit. Corporis enim minus tempora officiis molestiae architecto aliquid quae nam voluptatum cum?
Unde impedit atque quisquam minus ratione corporis alias repudiandae! Aspernatur impedit esse vitae totam eius magni dignissimos molestiae veritatis harum at? Culpa enim officia, modi voluptas eius sequi quo consequatur.
Autem vero aperiam rem porro iure, quis eaque tempora ab ex earum impedit consequatur, odit nobis aliquid nemo mollitia! Enim, dicta numquam pariatur velit facilis earum asperiores sunt quos facere!</p>

{% endblock%}